@{
    ViewBag.Title = "Home";
}

<header>
    <h1>ForumApp</h1>
    <p class="lead">The leading non-existant forum application</p>
</header>

<div class="card-group mb-3">
    <div class="card shadow-sm rounded">
        <div class="card-body">
            <h2 class="card-title">Write All The Time</h2>
            <p class="card-text text-muted">Create forums, threads, and posts. All from the comfort of your keyboard or mobile device.</p>
        </div>
    </div>
    <div class="card shadow-sm rounded">
        <div class="card-body">
            <h2 class="card-title">Bookmark Threads</h2>
            <p class="card-text text-muted">Save the good ones for later. Find them quickly. Never stop posting.</p>
        </div>
    </div>
    <div class="card shadow-sm rounded">
        <div class="card-body">
            <h2 class="card-title">Rate Threads</h2>
            <p class="card-text text-muted">Find a thread that is terri-bad and you can't even? Rate that puppy down and move on with your day.</p>
        </div>
    </div>
</div>