@{
    ViewBag.Title = "Home";
}

<header>
    <h1>ForumApp</h1>
    <p class="lead">The leading non-existant forum application</p>
</header>

<div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col">
        <div class="card h-100 shadow-sm rounded">
            <div class="card-body">
                <h2 class="card-title">Write All The Time</h2>
                <p class="card-text text-muted">Create forums, threads, and posts. All from the comfort of your keyboard or mobile device.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm rounded">
            <div class="card-body">
                <h2 class="card-title">Bookmark Threads</h2>
                <p class="card-text text-muted">Save the good ones for later. Find them quickly. Never stop posting.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm rounded">
            <div class="card-body">
                <h2 class="card-title">Rate Threads</h2>
                <p class="card-text text-muted">Find a thread that is terri-bad and you can't even? Rate that puppy down and move on with your day.</p>
            </div>
        </div>
    </div>
</div>